*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    background-color: #D6E1FF;
    font-family: 'Red Hat Display', sans-serif;

}
.container{
    width: 360px;
    height: 550px;
    margin-top: 14px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.container img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.info-container{
    padding: 32px;
    text-align: center;
}
.info-container h2{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 800;
    color: #1F2F56;
}
.info-container p{
    margin-top: 10px;
    font-size: 0.88rem;
    color: #7C8798;
    line-height: 1.3rem;
    font-weight: 600;
}
.subscription-container{
    background-color: #F8F9FE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 16px 16px;
}
.subscription-container img{
    width: 38px;
    margin-left: 6px;
}
.subscriptions-plans h4{
    font-weight: 800;
    font-size: 0.88rem;
}
.subscriptions-plans{
    margin-left: -52px;
}
.subscriptions-plans p{
   margin-top: 3px;
}
 a{
   font-size: 0.78rem;
    margin-right: 15px;
    font-weight: 700;
}
.pcp{
    background-color: #382AE1;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: -5px;
    box-shadow: 0px 16px 16px rgba(75, 61, 227, 0.2);
}
.co{
    background-color: transparent;
    border: none;
    margin-top: 22px;
    color: #7C8798;
    font-size: 0.8rem;
    font-weight: 700;
}